<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

        <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <!-- Custom fonts for this template -->
        <link href="{{ asset('build/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>


</head>

<body id="page-top">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4" style="text-align: center">
                        <img src="https://goo.gl/images/VQ2Lah">
                    </div>
                </div>
                <hr>

                <div class="row">
                    <h4>{{ 'email.title'|trans }}</h4>
                    <ul>
                        <li>{{ 'email.visitDate'|trans }} : {{ booking.visitDate|date('d/m/Y') }} </li>
                        <li>{{ 'email.code'|trans }} : {{ booking.code }} </li>
                    </ul>
                </div>
                <table class="table">
                    <tr>
                        <th>{{ 'recap.name'|trans }}</th>
                        <th>{{ 'recap.firstname'|trans }}</th>
                        <th>{{ 'recap.type'|trans }}</th>
                        <th>{{ 'recap.tarif'|trans }}</th>
                        <th>{{ 'recap.price'|trans }}</th>
                    </tr>
                    {%  for ticket in booking.tickets %}
                        <tr>
                            <td>{{ ticket.name }}</td>
                            <td>{{ ticket.firstname }}</td>
                            <td>{{ ticket.ticketType }}</td>
                            <td>{{ ticket.tarif.tarifName}}</td>
                            <td>{{ ticket.ticketPrice|number_format(2, ',', ' ') }} €</td>
                        </tr>
                    {%  endfor %}
                </table>

                    <hr>
                    <p>{{ 'email.totalMount'|trans }} : {{ booking.totalMount|number_format(2, '.', ',') }}€</p>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4" style="text-align: center">
            <button class="btn btn-primary hidden-print" onclick="print()">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>{{ 'email.print'|trans }}
            </button>

            </button>

        </div>
    </div>

    <footer>
        <div class="container text-center">
            <p>Copyright &copy; frs-duchemin.fr</p>
        </div>
    </footer>
    </div>



<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function print() {
            window.print();
        }
    </script>

</body>

</html>
