<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <div class="row">
                    <div class="col-sm-4" style="text-align: center">
                        <img src="http://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg" width="100%">
                    </div>
                    <div class="col-sm-8" style="text-align: center">
                        <h3>Votre ticket</h3>
                        <p>Commande : #{{ booking.id }}</p>
                    </div>
                </div>
            </div>
            <div class="well">
                <h4>{{ 'modelEmail.information'|trans }}</h4>
                <p>
                    email : {{ booking.email }} </br>
                    Date de réservation : {{ booking.visitDate|date('d/m/Y') }} </br>
                    code : {{ booking.code }}
                </p>
            </div>
            <div class="well">
                <table class="table table-condensed" style="font-size: small">
                    <thead>
                    <tr>
                        <td>nom</td>
                        <td>prenom</td>
                        <td>date naissance</td>
                        <td>tarif reduit</td>
                        <td>prix</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in booking.Tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.name }}</td>
                            <td>{{ ticket.firstname }}</td>
                            <td>{{ ticket.birthDate|date('d/m/Y') }}</td>
                            <td>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <br />
                <p>total : {{ booking.totalMount|number_format(2, '.', ',') }}€</p>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>


















