<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ 'site.title'|trans }}</title>
    {% block stylesheets %}

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('build/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('build/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ asset('build/css/grayscale.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/default.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/default.date.css') }}" rel="stylesheet">
{% endblock %}
</head>

<body id="page-top">

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{{ asset('build/images/logo.png') }}"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                        <li><a href="{{ path('homepage', {'_locale': 'fr'}) }}">{{ 'navbar.french'|trans }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('homepage', {'_locale': 'en'}) }}">{{ 'navbar.english'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}


{% endblock %}

{% block footer %}

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; frs-duchemin.fr</p>
    </div>
</footer>

{% endblock %}

{% block javascripts %}
<!-- Bootstrap core JavaScript -->
<script src="{{ asset('build/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('build/popper/popper.min.js') }}"></script>
<script src="{{ asset('build/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/js/jquery.collection.js') }}"></script>
<!-- Plugin JavaScript -->
<script src="{{ asset('build/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDHVhE3zAgZErhvUCf_sig01291X4pW7uA &sensor=false"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset('build/js/grayscale.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/4.4.0/typeit.min.js"></script>
    <script>
        $('.skills').typeIt({
            strings: ['développeur d\'applications - front-end - back-end']

        });  </script>



{% endblock %}

</body>

</html>
