{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid" id="information">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                {{ form_start(form) }}
                <p style="text-align: center">{{ 'info.title1'|trans }}</p>
                {{ form_row(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control'},'label_attr': {'class': 'sr-only'} }) }}
                <p style="text-align: center">{{ 'info.title2'|trans }}</p>
                {{ form_errors(form) }}
                {{ form_row(form.visitDate, {'attr': {'placeholder': 'Date de visite', 'class': 'form-control'},'label_attr': {'class': 'sr-only'} }) }}


                <p style="text-align: center">{{ 'info.title3'|trans }}</p>
                <ul class="visitors" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}"></ul>
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-info pull-right" value="{{ 'info.continue'|trans }}"/>
                {{ form_end(form) }}
                                </div>
                        </div>
    </div>
{% endblock %}

